.main-page {
  .chat-history {
    margin: 24px 0;
    //padding: 16px;
    box-sizing: border-box;

    .message {
      margin: 16px 0;
      padding: 8px;
      box-sizing: border-box;

      .author {
        font-weight: bold;
      }

      .text {

      }
    }
  }

  .send-msg-block {
    margin: 24px 0 48px;
    overflow-x: auto;
    box-sizing: border-box;
    padding: 16px;
    display: flex;

    .text {
      flex-grow: 100;
      margin-right: 8px;
    }
  }
}