.app-root {
  .app-bar {
    position: relative;
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
  }
  
  .toolbar-title {
    display: flex;
    position: relative;
    align-items: center;
    
    .title {
      flex: 1;
    }
    
    .main-link {
      margin-right: 8px;
    }
    
    .login {
      margin-right: 8px;
    }
  }

  .disconnected {
    border: 1px solid red;
    border-radius: 4px;
    padding: 4px;
    margin: 8px auto 0;
    width: 150px;
    text-align: center;
  }

  .layout {
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
  }
} 