.main-page {
  max-width: 600px;
  margin: 0 auto;

  .chat-history {
    margin: 24px 0;
    box-sizing: border-box;
  }

  .send-msg-block {
    margin: 24px 0 0;
    overflow-x: auto;
    box-sizing: border-box;
    padding: 16px;
    display: flex;

    .text {
      flex-grow: 100;
      margin-right: 8px;
    }
  }
}