.chat-history {
	.message {
		margin: 16px 0;
		padding: 8px;
		box-sizing: border-box;

		.header {
			display: flex;

			.author {
				font-weight: bold;
			}

			.time {
				color: green;
				font-size: 70%;
				margin-left: 16px;
				flex-grow: 30;
			}

			.delete {
				min-width: 32px;
				color: crimson;
			}

			.text {
				margin-top: 4px;
			}
		}
	}
}